{% extends 'base.html' %}
{% block content %}

{% if current_user.is_admin %}
<a class='btn bg-danger rounded-pill shadow mb-4 ml-2'
    href='{{ url_for("delete_workout", wod_id = workout.id) }}'>Delete
    Workout</a>
<a class='btn bg-grad rounded-pill shadow mb-4 ml-2 white'
    href='{{ url_for("coachboard", wod_id = workout.id) }}'>Coachboard</a>
{% endif %}
<div class='container-fluid shadow rounded  '>
    {% for comp in workout.components %}
    <h1 class='card-title'> <a href='{{ url_for("component_detail", comp_id =comp.id)}}'>{{ comp.name }}</a> </h1>
    <p class='card-body description'>{{ comp }}</p>
    {% endfor %}
</div>

<div class='container mb-4 shadow p-1 rounded w-auto'>
    {% if not component_scores %}
    <table class='container-fluid table  rounded'>

        <tr>
            <th scope='col'>Date</th>
            <th scope='col'>Movement</th>
            <th scope='col'>Score</th>
            <th scope='col'>Notes</th>
        </tr>
        <tr>
            <td>No</td>
            <td>SCOREs</td>
            <td>YET</td>
            <td></td>
        </tr>
    </table>


    {% else %}
    <table class='container-fluid table  rounded'>
        <table class='container-fluid table  rounded'>

            <tr>
                <th scope='col'>Athlete</th>
                <th scrope='col'>Component</th>
                <th scope='col'>Score</th>

            </tr>

            {% for user, scores in component_scores.items()%}

            <tr>
                <td>{{ user.username }} </td>
                {% for score in scores %}
            <tr>
                <td></td>
                <td style='white-space: pre-line;'>{{score['description'] }} </td>
                <td>{{ score['score'] }} ({{ score['score_type']}})</td>
                {% if current_user == user %}
                <td><a class='btn bg-danger white p-3' style='height: auto;'
                        href='{{ url_for("delete_score", score_id = score["score_id"], comp_id = score["comp_id"]) }}'>Delete
                        Score</a>
                </td>
                {% endif %}
            </tr>

            {% endfor %}
            </tr>
            {% endfor %}
        </table>

    </table>
    {% endif %}

</div>

{% endblock %}